html body {
  margin: 0px;
}

nav {
}

#upper-article {
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  background-color: #D0C1B6;
  display: flex;
  width: 100%;
}

.upper-article-image {
  /* border: 5px black solid; */
  /* border-radius: 9%; */
  width: 420px;
  height: 320px;
}

h1 {
  font-weight: 400;
  font-size: 100px;
  font-family: 'Josefin Slab', serif;
}
