#upper-article {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #D0C1B6;
  display: flex;
  max-width: 100vw;
}

.upper-article-image {
  /* border: 5px black solid; */
  /* border-radius: 9%; */
  margin: 60px 100px 60px 120px;
  width: 540px;
  height: 420px;
}

#upper-article div {
  padding: 0px;
  margin: 130px 300px 60px 50px;
}

#lower-article {
  background-color: #F8F3EC;
  padding: 100px 100px 100px 100px;
}

#lower-article p {
  width: 900px;
}

.right-img-article {
  margin-top: 50px;
  display: flex;
}

.right-img-article img {
  margin-left: 100px;
}

.left-img-article img {
  margin-right: 100px;
}

.left-img-article {
  margin-top: 50px;
  display: flex;
}

h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 90px;
  font-family: 'Josefin Slab', serif;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Cutive Mono', monospace;
}

p {
  width: 650px;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-family: 'Cutive Mono', monospace;
}
