html, body {
  font-family: Josefin Slab;
  font-size: 30px;
  background-color: #f5efe5;
}

.main-nav-bar {
  background: none;
  background-size: cover;
}

.main-nav-bar a, .main-nav-bar a:visited {
  color: black;
}

#top-section {
  background-image: url("img/about/background-1.png");
  background-size: cover;
  padding-bottom: 400px;
}

#our-story {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
}

#our-story img {
  margin-left: 5%;
  background-image: url("img/about/image-back.png");
  padding: 20px 0px 55px 50px;
  background-size: cover;

}

#our-story div {
  margin-left: 5%;
  margin-right: 3%;
}

#our-story p {
  font-family: "Cutive Mono";
  font-size: 24px;
}

#find-us {
  padding-left: 10%;
  padding-bottom: 30%;
  padding-top: 10%;
  background-image: url("img/about/background-2.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#find-us div {
  width: 50%;
}

#find-us img {
  margin-right: 10%;
  margin-top: 5%;
  width: fit-content;
  height: fit-content;
}