html, body {
  background-color: #f5efe5;
  font-family: Josefin Slab;
  height: 100%;
}

#contact-us {
  padding-bottom: 12.5%;
  padding-left: 10%;
  padding-top: 2%;
  width: auto;
}

#contact-us h2 {
  font-size: 50px;
}

#contact-us label {
  font-size: 30px;

}

#contact-us input {
  width: 30%;
  height: 20%;
  margin-bottom: 30px;
  border-radius: 20px;
  border-color: transparent;
  padding: 10px;
}

.main-page-links, .main-page-links:visited, #socials a, #socials a:visited {
    color: black;
}