html,
body {
    background-color: #f5efe5;
    height: fit-content;
    font-family: Josefin Slab;
    size: 30px;
}

#top-section {
    background-image: url("img/index/indexWallpaper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 75px;
    /*
    controls how big the background image for the top part of the page is
    */
    padding-bottom: 1700px;
}

.main-nav-bar {
    background: transparent;
    padding-top: 0;
}

#food-item {
    display: flex;
}

#our-cafe {
    background-image: url("img/index/background3.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 100px;
    margin-left: 0;
    margin-top: 0;
    color: #928882;
}

#our-cafe h2 {
    font-size: 64px;
    margin-left: 42%;
    padding: fit-content;

    background-color: transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#our-cafe-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 12%;
    max-width: 100%;
    gap: 10%;
    justify-content: space-between;
}

#our-cafe-img-cont div {
    max-width: 10px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-items img {
    margin-bottom: 30px;
}

.menu-items p {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

#selected-menu-item {
    display: flex;
    flex-direction: row;
    margin: 10% 0 0 20%;
    margin-top: 100px;
    max-width: 100%;
    flex-wrap: wrap;
}

#selected-menu-item img {
    background-image: url("img/index/image-back.png");
    background-repeat: no-repeat;
    padding: 25px 100px 100px 60px;
    height: 20%;
    background-size: 87%;
}

#selected-menu-item div {
    margin-left: 7%;
}


#selected-menu-item p {
    max-width: 50%;
    font-size: 1.7em;
}

#selected-menu-item hr {
    max-width: 40%;
    margin-left: 0%;
    size: 1px;
    color: black;
    border: 2px solid black;
}

#selected-menu-item h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4em;
    margin: 0;
}

#selected-menu-item .tab {
    margin-left: 6%;
}

