html,
body {
  background-color: #f5efe5;
  height: fit-content;
  font-family: Josefin Slab;
  size: 30px;
}

#top-section {
  background-image: url("img/index/indexWallpaper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 75px;
  /*
    controls how big the background image for the top part of the page is
    */
  padding-bottom: 400px;
}

.main-nav-bar {
  background: transparent;
  padding-top: 0;
}

.main-page-links, #socials a {
  color: black;
}

#food-item {
  display: flex;
}

#our-cafe {
  background-image: url("img/index/background3.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 100px;
  margin-left: 0;
  margin-top: 0;
  color: #928882;
}

#our-cafe h2 {
  font-size: 64px;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  background-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#our-cafe-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 12%;
  max-width: 100%;
  gap: 10%;
  justify-content:space-around;
}

#our-cafe-img-cont div {
  max-width: 10px;
}

#our-cafe a h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #FEEAA2;
  width: fit-content;
  border-radius: 25px;
  color: #928882;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-items img {
  margin-bottom: 30px;
}

.menu-items p {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

#selected-menu-item {
  display: flex;
  flex-direction: row;
  margin: 10% 0 0 5%;
  margin-top: 20px;
  margin-bottom: 10%;
  max-width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#selected-menu-item img {
  background-image: url("img/index/image-back.png");
  background-repeat: no-repeat;
  padding: 25px 100px 100px 40px;
  width: 45%;
  height: 20%;
  background-size: 87%;
  margin: 0px;
  margin-right: 0;
}

#selected-menu-item div {
  margin: 0px 0px 0px 0px;
}

#selected-menu-item p {
  width: 70%;
  font-size: 1.7em;
}

#selected-menu-item hr {
    max-width: 70%;
    margin-left: 0;
    size: 1px;
    color: black;
    border: 2px solid black;
}

#selected-menu-item h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4em;
  margin: 0;
}

#selected-menu-item .tab {
  margin-left: 26%;
}

#accent {
  margin-left: 0px;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 5%;
  transform: rotate(-25deg);
  width: fit-content;
}

#selected-menu-item div h2, #selected-menu-item div hr, #selected-menu-item div p {
  margin-left: 20%;
}

#about {
  width: 70%;
  margin-left: 10%;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
}

#about h2 {
  font-size: 55px;
}

#about p {
  font-size: 25px;
  line-height: 1.5;
}

#about a h3 {
  font-size: 35px;
  width: fit-content;
  padding: 20px;
  border-radius: 25px;
  background-color: #FEEAA2;
}

#about #about-text {
  width: 70%;
}

#about #about-images {
  position: relative;
  margin-left: 10%;
}

#about #about-images #top-image {
  background-image: url("img/index/about-drink-background.png");
  background-repeat: no-repeat;
  padding: 25px 100px 100px 0px;
  position: relative;
  top: 0;
  left: 0;
}

#about #about-images #bot-image {
  background-image: url("img/index/about-sand-background.png");
  background-repeat: no-repeat;
  padding: 0px 70px 60px 0px;
  position: absolute;
  top: 150px;
  left: 150px;
}

#location-hours {
  font-family: 'Cutive Mono', monospace;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: 350px;
  padding-bottom: 350px;
}

#location-hours div {
  text-align: right;
  margin-right: 5%;
}

#location-hours img {
  margin: auto;
  margin-left: 5%;
  width: 40%;
  height:fit-content;
}

#location-hours div h3 {
  font-size: 40px;
}
