.main-nav-bar {
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  padding-top: 25px;
  margin: 0px;
  width: 100%;
  font-size: 30px;
  font-family: "Cutive Mono", monospace;
}

#page-name {
  text-align: center;
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  padding-bottom: 100px;
  padding-top: 50px;
  color: white;
}

#page-header {
  background-image: linear-gradient(to bottom, #2121216e, #2121216e),
    url("img/menu/menuBackground.png");
}

#menu-items {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: flex-end;
  font-family: "Cutive Mono", monospace;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuPick {
  padding: 20px;
  font-size: 25px;
}

.menuPick:hover {
  text-decoration: underline;
}

.menu-pictures {
  text-align: center;
  width: 250px;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

main {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  font-size: 25px;
  font-family: "Cutive Mono", monospace;
}
p {
  padding-bottom: 50px;
  padding-top: 50px;
}
hr {
  width: 70%;
}
h1 {
  text-align: center;
  margin: 0px;
  font-weight: 400;
  font-size: 90px;
  font-family: "Josefin Slab", serif;
}
