

a {
    font-family: "Cambria";
}

.nav-box div {
    white-space: nowrap;
    flex: auto;
    flex-direction: row;
}

h2 {
   margin-left: 30%;
   font-size: 40px;
   text-align: left;
}

#parent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-direction: row;

}

#parent img {
    margin-left: 100px;
    margin-top: 60px;
}

.boxes-1 {
    width: 200px;
    margin-bottom: 5px;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    align-items: center;
}

.boxes-1 a, boxes-1 a:visited{
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

#tablepic {
    margin-right: 20%;
    width: 500px;
    height: 500px;
}