.main-nav-bar {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    padding-top: 25px;
    margin: 0px;
    font-size: 30px;
    font-family: "Cutive Mono", monospace;
}

html, body {
    background-color: #f5efe5;
}

.main-nav-bar a {
    color: white;
}

#selected-nav-bar a {
    color: white;
    background-color: #d0c1b6;
  }

.nav-box div {
  white-space: nowrap;
  flex: auto;
  flex-direction: row;
}

#page-name {
  text-align: center;
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  padding-bottom: 100px;
  padding-top: 25px;
  color: white;
}

#page-header {
  background-image: linear-gradient(to bottom, #2121216e, #2121216e),
    url("img/order/order-header.png");
  padding-top: 0px;
  background-size: 100% ;
  background-repeat: no-repeat;
}

#order {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.88);
  align-self: flex-end;
  margin-bottom: 50px;
  font-family: "Cutive Mono", monospace;
}

#ordering {
  padding: 20px;
  font-size: 20px;
}
#parent img {
  margin-left: 100px;
  margin-top: 50px;
}

#child p {
  font-size: 40px;
}

#child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.boxes-1 {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  border: 1px solid;
  border-radius: 25px;
  margin-top: 9%;
  padding: 20px;
  color: white;
  background-color: #d0c1b6;
}

.boxes-1 a,
boxes-1 a:visited {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-family: "Cutive Mono", monospace;
}
