
a {
  font-family: "Cambria";
}

.nav-box div {
  white-space: nowrap;
  flex: auto;
  flex-direction: row;
}

#parent img {
    margin-left: 100px;
    margin-top: 50px;
}

#child p {
    font-size: 40px;
}

#child {
    margin-top: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.boxes-1 {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
    color: white;
    background-color: #d0c1b6;
}

.boxes-1 a, boxes-1 a:visited{
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-family: "Cutive Mono", monospace; 
}
