#main-nav-bar {
    display: flex;
    flex-direction: row;
    margin: 125px 20px 0px 100px;
}

#main-nav-bar div {
    margin: 0px 4% 0px 4%;
    font-size: 25px;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

#selected-nav-bar {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #a89b70;
    border-radius: 30px;
}

#socials a {
    margin: 0px 6px 0px 6px
}