html, body {
    margin: 0;
}

#main-nav-bar {
    display: flex;
    flex-direction: row;
    padding: 7% 0px 0px 100px;
    align-items: center;
    background-color: #F8F3EC;

    ;
}

#main-nav-bar div {
    margin: 0 1% 0px 3%;
    font-size: 25px;
}

.main-page-links {
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

#main-nav-bar #oh-bear-logo {
    padding: 0px 0px 0px 0px;
    align-self: flex-start;
    margin: 0px 0px 0px 15%;
    max-width: 10%;
}

#oh-bear-logo img {
    padding: 0;
    max-width: 100%;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

#selected-nav-bar {
    color: white;
    background-color: #D0C1B6;
}

#socials a {
    margin: 0px 6px 0px 6px
}